controller:
  image:
    tag: "lts"

  admin:
    username: "{{ JENKINS_ADMIN_USERNAME }}"
    password: "{{ JENKINS_ADMIN_PASSWORD }}"
    createSecret: true

  # containerEnv:
  #   # Tell the plugin where to find its config.
  #   - name: CASC_JENKINS_CONFIG
  #     value: /var/jenkins_home/casc_configs/jenkins.yaml

  serviceType: ClusterIP
  servicePort: 8080

  jenkinsHome: /var/jenkins_home

  installPlugins:
    - kubernetes:latest
    - kubernetes-credentials:latest
    - git:latest
    - configuration-as-code:latest
    - workflow-aggregator:latest
    - workflow-job:latest
    - job-dsl:latest
    - github:latest

  persistence:
    enabled: true
    existingClaim: jenkins-pvc
    storageClass: jenkins-pv

  resources:
    requests:
      cpu: "500m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "2Gi"

  securityContext:
    runAsUser: 1000
    runAsGroup: 3000
    fsGroup: 3000

  containerSecurityContext:
    runAsUser: 1000
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL

  JCasC:
    enabled: true
    defaultConfig: false
    configScripts:
      jenkins-casc-config: |
        jenkins:
          systemMessage: Welcome to our RS School DevOps 2025 Q2 course CI\CD server.  This Jenkins is configured and managed 'as code'.
          jenkinsUrl: "https://{{ JENKINS_URL }}"
          securityRealm:
            local:
              allowsSignup: false
              enableCaptcha: false
              users:
              - id: "{{ JENKINS_ADMIN_USERNAME }}"
                name: "Jenkins Admin"
                password: "${{ JENKINS_ADMIN_PASSWORD }}"
              - id: "{{ JENKINS_USER_LOGIN }}"
                name: "{{ JENKINS_USER_DISPLAY_NAME }}"
                password: "{{ JENKINS_USER_PASSWORD }}"
                description: "RS School DevOps 2025 Q2 course student"
                properties:
                  - mailer:
                      emailAddress: "{{ JENKINS_USER_EMAIL }}"
                  - preferredProvider:
                      providerId: "default"
                  - timezone:
                      timeZoneName: "Europe/Kyiv"
          remotingSecurity:
            enabled: true
          numExecutors: 2
          labelString: "master"
          mode: NORMAL
          scmCheckoutRetryCount: 2
          disableRememberMe: false
          authorizationStrategy:
            globalMatrix:
              permissions:
                - "Overall/Read:authenticated"
                - "Overall/Administer:chart-admin"
                - "Job/Read:authenticated"
                - "Job/Create:chart-admin"
                - "Job/Build:authenticated"
                - "Job/Workspace:authenticated"
                - "Job/Cancel:authenticated"
                - "Job/Delete:chart-admin"
                - "Job/Configure:chart-admin"
                - "View/Read:authenticated"
              users:
                {{ JENKINS_ADMIN_USERNAME }}:
                  permissions:
                    - "Overall/Administer"
                    - "Job/Create"
                    - "Job/Delete"
                    - "Job/Configure"
                    - "View/Create"
                    - "View/Delete"
                    - "View/Configure"
                {{ JENKINS_USER_LOGIN }}:
                  permissions:
                    - "Overall/Read"
                    - "Job/Read"
                    - "Job/Build"
                    - "Job/Workspace"
                    - "Job/Cancel"
        credentials:
          system:
            domainCredentials:
            - credentials:
              - string:
                  description: "GH_JENKINS_TOKEN"
                  id: "GH_JENKINS_TOKEN"
                  scope: GLOBAL
                  secret: "{{ GH_JENKINS_TOKEN }}"
              - basicSSHUserPrivateKey:
                  description: "GH_JENKINS_SSH_KEY"
                  id: "GH_JENKINS_SSH_KEY"
                  privateKeySource:
                    directEntry:
                      privateKey: "{{ GH_JENKINS_SSH_KEY }}"
                  scope: GLOBAL
                  username: "git"
                  usernameSecret: true
        unclassified:
          gitHubPluginConfig:
            configs:
            - credentialsId: "GH_JENKINS_TOKEN"
              name: "Default"
            hookUrl: "http://{{ JENKINS_URL }}/github-webhook/"
          location:
            adminAddress: "{{ JENKINS_USER_EMAIL }}"
            url: "http://{{ JENKINS_URL }}/"
          scmGit:
            hideCredentials: true
        jobs:
          - script: >
            pipelineJob('test-job') {
              definition {
                cps {
                  script('''
                    pipeline {
                            agent any
                            stages {
                                stage('Stage 1') {
                                    steps {
                                        echo 'Hello World!'
                                    }
                                }
                                stage('Stage 2') {
                                    steps {
                                        echo 'Is it me your looking for'
                                    }
                                }
                            }
                    }
                  '''.stripIndent())
                  sandbox()
                }
              }
            }
