# AWS Region
aws_region = ""
aws_profile = ""

# IAM User and Group
user_name  = ""
group_name = ""

# Whether to create an access key for the IAM user
create_access_key = true

# S3 Bucket for Terraform state
bucket_name = "rsschool-bootstrap-terraform-state"

# Environment name for tagging
environment = ""

# AWS Managed Policies to Attach
managed_policy_arns = [
  "arn:aws:iam::aws:policy/AmazonEC2FullAccess",
  "arn:aws:iam::aws:policy/AmazonRoute53FullAccess",
  "arn:aws:iam::aws:policy/AmazonS3FullAccess",
  "arn:aws:iam::aws:policy/IAMFullAccess",
  "arn:aws:iam::aws:policy/AmazonVPCFullAccess",
  "arn:aws:iam::aws:policy/AmazonSQSFullAccess",
  "arn:aws:iam::aws:policy/AmazonEventBridgeFullAccess"
]
