alertmanager:
  enabled: true

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false

nodeExporter:
  enabled: true

grafana:
  enabled: true
  # podAnnotations:
  #   iam.amazonaws.com/role: arn:aws:iam::{{ AWS_ACCOUNT_ID }}:role/{{ PROJECT_NAME }}-k3s-monitoring-ses-role-{{ ENVIRONMENT_NAME }}
  admin:
    existingSecret: grafana-admin-secret
    userKey: admin-user
    passwordKey: admin-password
  service:
    type: ClusterIP
  sidecar:
    datasources:
      enabled: true
    dashboards:
      enabled: true
      labels:
        - grafana_dashboard
      folder: /tmp/dashboards
      folderAnnotation: grafana_folder

  envFromSecrets:
    - name: grafana-smtp-secret

  grafana.ini:
    auth.anonymous:
      enabled: false
    log:
      mode: console
      level: info
    smtp:
      enabled: true
      fromAddress: "monitoring@{{ ROUTE53_DOMAIN }}"
      fromName: "Monitoring"
      host: "email-smtp.{{ AWS_REGION }}.amazonaws.com:587"
      password: "${GRAFANA_SMTP_PASSWORD}"
      skipVerify: false
      startTLSpolicy: "Always"
      user: "${GRAFANA_SMTP_USER}"

  alerting:
    enabled: true
    contactPoints:
      - name: "Email Default"
        type: "email"
        settings:
          addresses: "{{ EMAIL_RECIPIENT }}"
          singleEmail: true
          subject: "⚠️ Monitoring Alert"
          message: |
            {% raw %}{{ template "default.message" . }}{% endraw %}
    notificationPolicies:
      - contactPoint: "Email Default"
        groupBy: ['alertname']
        receiver: "Email Default"
        continue: false

kubeStateMetrics:
  enabled: true
